@model List<MyProjectLibrary.Models.Aadhar>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}




<h2>Aadhar Details</h2>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>DOB</th>
            <th>Father Name</th>
            <th>PAN Number</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Dob.ToShortDateString()</td>
                <td>@item.FatherName</td>
                <td>@item.Pan?.PanNo</td>
            </tr>
        }
    </tbody>
</table>